In [16]:
import pandas as pd
from pandas import Series, DataFrame

SERIES

In [28]:
obj=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])#类似于字典
obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [31]:
obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [34]:
obj.values

array([1, 2, 3, 4, 5], dtype=int64)

In [38]:
obj[obj>2] # 和NUMPY一样进行过滤

c    3
d    4
e    5
dtype: int64

In [40]:
obj*2

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [42]:
obj.isnull() 
obj.notnull()

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [49]:
obj.name='name'
obj.index.name='index_name'# SERIES本身和索引有NAME属性，类似于SQL表格的名称
obj

index_name
a    1
b    2
c    3
d    4
e    5
Name: name, dtype: int64

In [53]:
obj.index=['a1','b1','c1','d1','f1'] # index 按位置赋值的方式进行修改，但长度必须相同
obj

a1    1
b1    2
c1    3
d1    4
f1    5
Name: name, dtype: int64

DATA FRAME： 矩阵的数据表，已排序的列集合，每一列都可以是不同的类型

In [62]:
df={'state':['a1','b1','c1'],'year':['111','121','131'],'pop':['1.1','1.2','1.3']}
frame=pd.DataFrame(df)
frame

  state year  pop
0    a1  111  1.1
1    b1  121  1.2
2    c1  131  1.3

In [63]:
frame.head() #大型数据， head只显示头5行

  state year  pop
0    a1  111  1.1
1    b1  121  1.2
2    c1  131  1.3

In [66]:
frame.year #直接抽出一列的数据，SQL中需要使用查询语句才能获取到数据的视图

0    111
1    121
2    131
Name: year, dtype: object

In [72]:
#frame.loc['1']
frame2=pd.DataFrame(frame,columns=['state','year','pop','debt']) #创建新的列并赋值
frame2

  state year  pop  debt
0    a1  111  1.1   NaN
1    b1  121  1.2   NaN
2    c1  131  1.3   NaN

In [83]:
frame2['debt']='testData' 
frame2

  state year  pop      debt  eastern
0    b1  111  1.1  testData     True
1    b1  121  1.2  testData     True
2    b1  131  1.3  testData     True

In [92]:
frame2['eastern']=frame2.state=='b1'
frame2
del frame2['eastern'] # 删除当前行
frame2

  state year  pop      debt
0    b1  111  1.1  testData
1    b1  121  1.2  testData
2    b1  131  1.3  testData

In [94]:
frame2.T

              0         1         2
state        b1        b1        b1
year        111       121       131
pop         1.1       1.2       1.3
debt   testData  testData  testData

In [97]:
frame2.values

array([['b1', '111', '1.1', 'testData'],
       ['b1', '121', '1.2', 'testData'],
       ['b1', '131', '1.3', 'testData']], dtype=object)