Date time function

In [2]:
from datetime import datetime, date,time
dt =datetime(2011,10,29,20,30,21)
dt.day

29

循环回路

In [48]:
sequence =[1,2,3,4,None,5,6]
total=0
for value in sequence: 
    if value is None:
        continue
    total+=value
    
    if value==5:
        break
total

15

In [20]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list( range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [43]:
seq=[1,2,3,4]
for i in range(len(seq)):
    val=seq[i]
    seq[i]

'range 产生数组的长度随机数，然后通过FOR循环得到结果，实现遍历

In [41]:
sum=0
for i in range(10000):
    if i % 3==0 or i% 5==0:
        sum+=i

''CTRL+SAPCE 回到该行最前， CTRL+ENTER 执行当前CELL， SHIFT+ENTER执行当前CELL并移到下一行

三元表达式 value=true-expr if condition else false-expr

In [47]:
X=5

'AA' if X>0 else 'BB'

'AA'